virt1/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.xml
*.csv
*.txt
*.iml
*.ipynb
test.py

data/
logs/
*.p
bustool/Test_database.db
.DS_Store
.DS_Store
bustool/.DS_Store
bustool/static/.DS_Store
