virt1/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

local/
dist/
build/
*.egg-info/

backend_main_test.py

backend/logs/*.log
*.xml
*.csv
*.iml
*.json
*.ipynb
*.xlsx
*.zip
test.py

data/CTA/*
data/MBTA/*
data/WMATA/*

frontend/input/*
logs/
*.p
.DS_Store
.DS_Store

.VSCodeCounter/