virt1/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

local/
dist/
build/
*.egg-info/

backend_main_test.py

*.xml
*.csv
*.txt
*.iml
*.json
*.ipynb
test.py

data/
logs/
frontend/
*.p
.DS_Store
.DS_Store

.VSCodeCounter/